{namespace maps=Tx_Medgooglemaps_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

<v:asset.style path="{settings.cssFile}" />

<div id="map_canvas_{uid}" style="width: <f:if condition="{settings.width}"><f:then>{settings.width}</f:then><f:else>450px</f:else></f:if>; height: <f:if condition="{settings.height}"><f:then>{settings.height}</f:then><f:else>250px</f:else></f:if>;"></div>

</f:section>